html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(97, 97, 255);
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: white;
}

.top-left-logo {
    max-width: 80%;
    max-height: 80%;
}

.header-logo {
    display: flex;
    align-self: flex-start;
}

.hero {
    background-color: white;
    display: flex;
    min-height: 350px;
    background-color: rgb(26, 43, 58);
    justify-content: center;
    padding: 14px 120px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 26px;
}

.right {
    max-width: 60%;
}

.left-content {
    margin-top: auto;
    margin-bottom: auto;
}

a, p, h1 {
    text-decoration: none;
    color: white;
}

.hero-h1 {
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 8px 16px;
    margin: 0;
    justify-content: flex-end;
    gap: 18px;
    font-size: 18px;
    color: #E5E7Eb;
}

.top-h1 {
    color: black;
    display: flex;
    flex: 1;
    justify-content: center;
}

.top-content {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.top, .middle {
    display: flex;
    justify-content: center;
    padding: 16px 16px;
}

.top-child > * {
    height: 120px;
    width: 120px;
    border-radius: 8px;
}

p,.sticky-footer {
    color: white;
}

.text {
    text-align: center;
    font-size: 12px;
}

.middle {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 14px 200px;
}

.author {
    display: flex;
    padding-left: 450px;
    font-weight: bold;
    justify-content: space-around;
}

.author p {
    color: black;
}

.quote {
    width: 900px;
    padding-left: 70px;
    height: 200px;
}

.quote p {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #1F2937;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 36px 36px;
    align-items: center;
    
}

.bottom-container {
    display: flex;
    /* border-style: solid; */
    border-radius: 8px;
    width: 900px;
    justify-content: space-evenly;
    background-color: rgb(76, 76, 248);
    align-items: center;
}

.bottom-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 16px;
    width: 100%;
    background-color: #1F2937;
}


.top, .top-content, .middle, .bottom {
    flex: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

h3{
    color: white;
}

